language: java
jkd:
- openjdk7

before_install:
- sudo apt-get install -y xvfb firefox
- sudo apt-get install -y xfonts-100dpi xfonts-75dpi xfonts-scalable xfonts-cyrillic --fix-missing

install: 

before_script:
- bin/clean

script: 
- bin/deploy

after_success:
- bin/selenium_test_xvfb

deploy: 
  provider: heroku
  api_key:
    secure: r6inMC/p2i1t/0DA6clYV9n2ACbKflLNU98jRyqfPyqNtlESDX54rfe4tIq104PsjdBvEWhVY3PLAURDUE56X+DMHMWtCoWae467bdlGb+XOanKt+E3U5jWeRgeIRld2yNME/9fWvkNhu7UzOOWqhR6t05dlTwljissvSSGQIPE=
  app: allgram
  on:
    repo: AllGram/TicTacToe
