language: java
jkd:
- openjdk7

before_install: 
- bin/greenqloud_wvfb_setup

install: 
- bin/nothing

before_script:
- bin/selenium_test_xvfb

after_script: 
- bin/deploy

deploy: 
  provider: heroku
  api_key:
    secure: r6inMC/p2i1t/0DA6clYV9n2ACbKflLNU98jRyqfPyqNtlESDX54rfe4tIq104PsjdBvEWhVY3PLAURDUE56X+DMHMWtCoWae467bdlGb+XOanKt+E3U5jWeRgeIRld2yNME/9fWvkNhu7UzOOWqhR6t05dlTwljissvSSGQIPE=
  app: 
      master: allgram
  on:
    repo: AllGram/TicTacToe
